body {
  background: linear-gradient(to bottom right, rgb(82, 128, 255), rgb(240, 193, 255) , rgb(255, 76, 76));

  min-height: 100vh;   
  margin: 0;           
}

/* .transparent-table {
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  border-radius: 10px;
} */