body {
  background: linear-gradient(to bottom right, rgb(142, 225, 243), rgb(234, 204, 238), /*rgb(254, 206, 214) ,*/ rgb(250, 86, 76) );

  min-height: 100vh;   
  margin: 0;           
}

table {
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

table th{
   border-bottom: 3px solid black;; 
}
table td {
  border: 1px solid black;
}